body {
    background-color: #E1CA96;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo img {
    width: 3.3rem;
    height: 3.3rem;
    margin-top: .5rem;
}

.header-logo h1 {
    font-family: "Island Moments", cursive;
    font-size: 4rem;
    font-weight: normal;
    color: #434A42;
    margin: 0;
}

.header-logo {
    margin-top: .5rem;
    display: flex;
    /* float: left; */
}

.header-links {
    /* float: right; */
    display: flex;
    gap: 2rem;
    margin: 1.7rem 6rem;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: normal;
    margin-top: .5rem;
}

.boton {
    border-radius: .4rem;
    border-style: none;
    background-color: #7E6363;
    color: white;
    padding: .7rem 1.2rem;
    text-decoration: none;
    font-size: small;
}

.boton:hover {
    background-color: #644f4f;
    cursor: pointer;
}

.seleccionado {
    font-weight: bold;
}

.banner {
    background-color: #ACA885;
    display: flex;
    justify-content: space-between;
}


.subtitulo h2 {
    font-size: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin: 2.5rem 0 1.5rem 5.5rem;
}

.sobre-nosotros {
    width: 65%;
    margin-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-nosotros h4 {
    text-align: center;
    color: white;
    font-weight: normal;
}

.contenedor-centrado {
    /* display: flex;
    justify-content: center; */
    background-color: #918B76;
    border: .1rem solid white;
    border-radius: .5rem;
    margin: 3rem 6rem;
    padding: 2rem;
}

.redes-contacto {
    display: flex;
    gap: 4rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.redes-elemento {
    display: flex;
    gap: .5rem;
}

.redes-elemento img {
    width: 3rem;
}

.redes-elemento h4 {
    margin: .8rem 0 0 0;
    color: white;
    font-weight: normal;
}

.centrar-form {
    display: flex;
    justify-content: center;
}

.form-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 80%;
    color: white;
}

.contacto-mensaje {
    grid-column: span 2;
}

.mensaje {
    width: 100%;
    height: 9rem;
    margin-top: .5rem;
    resize: none;
    border-style: none;
}

.contacto-elemento input {
    border-style: none;
}

.nombre {
    height: 1.7rem;
    width: 70%;
    margin-left: 1rem;
}

.correo {
    height: 1.7rem;
    width: 70%;
    margin-left: 1rem;
}

.contacto-correo {
    display: flex;
    justify-content: right;
}

.form-botones {
    grid-column: 2;
    display: flex;
    justify-content: right;
    gap: 3rem;
}

.btn-form {
    background-color: #626C66;
    color: white;
    height: 1.8rem;
    border-style: none;
    border-radius: 1rem;
    padding: 0 1.2rem;
    width: 9rem;
}

.btn-form:hover {
    background-color: #644f4f;
    cursor: pointer;
}

#cerrar-sesion {
    display: none;
    text-decoration: none;
    color: white;
    font-weight: bold;

    border-radius: .4rem;
    border-style: none;
    background-color: rgb(185, 56, 56);
    padding: .7rem 1.2rem;
    font-size: small;
}

#cerrar-sesion:hover {
    background-color: rgb(212, 63, 63);
    cursor: pointer;
}

#elemento {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.hover-cerrar {
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    position: absolute;
    margin-left: 14rem;
}

.btn-carrito {
    max-height: 1rem;
}