:root{
    --oscuro: #0A100D;
    --claro: #FFFFFF    ;
    --blanco: #73877B;
    --primario: #B9BAA3;
    --secundario: #2A4494;
    --terciario: #4EA5D9;
}
body{
    background-color: var(--claro);
    border-radius: .5rem;   
    overflow-x: hidden;
    overflow-y: auto;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;

}
*, *:before, *:after{
    box-sizing: inherit;
    
}
body{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

.titulo{
    text-align: center;
    font-size: 2.8rem;
    color : var(--oscuro);
    
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
    border-radius: 1.5rem;

}

.navegacion-principal {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 640px) {
    .navegacion-principal{
        flex-direction: column;
        
        align-items: center;
    }
}

.navegacion-principal a{
    color: var(--claro);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem;
    
}

.navegacion-principal .back svg{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navegacion-principal .back svg:hover{
    background-color: var(--secundario);
    color: var(--oscuro);
}

.navegacion-principal a:hover{
    background-color: var(--secundario);
    color: var(--primario);

}

.etapas{
    
    align-items: center;
    
    width: 290rem;
   
}
.etapas section{
    background-color: var(--claro);
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 70rem;
    height: 35rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    width: 50%;
    text-align: center;
    height: 25rem;
    border: 3px solid #000
    

}

.etapas section h2{
    color: var(--oscuro);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.etapas section img {
    width: 10rem; 
    height: auto; 
    border-radius: 50%; 
    border: 3px solid #000; 
    margin-top: 20px; 
}
footer {
    
        
    width: 100%;
    background-color: var(--secundario);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 6.5rem;
    margin-right: 25rem;
    
  }