body {
    background-color: #E1CA96;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo img {
    width: 3.3rem;
    height: 3.3rem;
    margin-top: .5rem;
}

.header-logo h1 {
    font-family: "Island Moments", cursive;
    font-size: 4rem;
    font-weight: normal;
    color: #434A42;
    margin: 0;
}

.header-logo {
    margin-top: .5rem;
    display: flex;
    /* float: left; */
}

.header-links {
    /* float: right; */
    display: flex;
    gap: 2rem;
    margin: 1.7rem 6rem;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: normal;
    margin-top: .5rem;
}

.seleccionado {
    font-weight: bold;
}

.boton {
    border-radius: .4rem;
    border-style: none;
    background-color: #7E6363;
    color: white;
    padding: .7rem 1.2rem;
    text-decoration: none;
    font-size: small;
}

.boton:hover {
    background-color: #644f4f;
    cursor: pointer;
}

.banner {
    background-color: #ACA885;
    display: flex;
    justify-content: space-between;
}

.subtitulo h2 {
    font-size: 2.8rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin: 2.5rem 0 1.5rem 5.5rem;
}

.gestion-links-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    
}


.gestion-links {
    display: flex;
    gap: 4rem;
    margin-right: 10rem;
}

.link-gestion {
    border-radius: .4rem;
    border-style: none;
    background-color: #7E636395;
    color: white;
    padding: .7rem 1.2rem;
    text-decoration: none;
    font-size: larger;
}

.link-gestion:hover {
    background-color: #644f4f;
    cursor: pointer;
}
/* Estilos para el formulario de agregar producto */
.formulario-agregar {
    background-color: #E1CA96;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 500px; /* Limitar el ancho del formulario */
    margin-left: auto;
    margin-right: auto;
  }
  
  .formulario-agregar label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .formulario-agregar input[type="text"],
  .formulario-agregar input[type="number"],
  .formulario-agregar textarea {
    width: calc(100% - 20px); /* Tomar el 100% del ancho menos el padding */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .formulario-agregar textarea {
    resize: vertical; /* Permitir que el área de texto se expanda verticalmente */
  }
  
  /* Ajuste de posición para el contenedor de la imagen seleccionada */
  #imagenSeleccionada {
    margin-top: 15px; /* Separación entre el campo de selección de archivo y el contenedor de imagen */
  }
  
  .formulario-agregar button {
    background-color: #7E6363;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .formulario-agregar button:hover {
    background-color: #644f4f;
  }
  
  /* ESTILO ALTA/BAJA PRODUCTO*/

  /* Estilos para la barra de búsqueda */
.search-bar {
    margin: 20px auto;
    max-width: 500px;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    display: flex;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 8px 15px;
    background-color: #7e6363;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #644f4f;
  }
  
  .lista-productos {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .lista-productos ul {
    list-style: none;
    padding: 0;
  }
  
  .lista-productos li {
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .lista-productos h3 {
    margin: 0 0 10px;
    color: #333;
  }
  
  .lista-productos p {
    margin: 0;
    color: #666;
  }

.product-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 80%; 
    max-width: 600px; 
  }
  
  .product-item img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  
  .product-item-details {
    flex: 1;
  }
  
  .product-item-details h3 {
    margin: 0;
  }
  
  .product-item-details p {
    margin: 1rem 0;
  }
  
  .activate-button {
    background-color: #7e6363;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: auto; /* Alinear el botón a la derecha */
    margin-right: 10px; /* Espacio entre el botón y el contenido */
  }
  
  .activate-button:hover {
    background-color: #644f4f;
  }
  
  .deactivate-button {
    background-color: #7e6363;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: auto; /* Alinear el botón a la derecha */
    margin-right: 10px; /* Espacio entre el botón y el contenido */
  }
  
  .deactivate-button:hover {
    background-color: #644f4f;
  }

    
  .edit-button {
    background-color: #7e6363;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: auto; /* Alinear el botón a la derecha */
    margin-right: 10px; /* Espacio entre el botón y el contenido */
    text-decoration: none;
    margin-top: 10px; /* Agregar margen superior */
}

.edit-button:hover {
    background-color: #644f4f;
}

  .formulario {
    display: flex;
    justify-content: center; /* Centra el formulario horizontalmente */
  }
  .imagen-producto {
    width: 40%; /* Reducir el ancho del contenedor de la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el formulario */
    display: flex; /* Convertir el contenedor en un flex container */
    align-items: center; /* Centrar verticalmente los elementos hijos */
    justify-content: center; /* Centrar horizontalmente los elementos hijos */
    text-align: center; /* Alinear el texto horizontalmente */
  }
  
  .imagen-producto img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
  }
  
  #formularioAgregarProducto {
    width: calc(50% - 20px); /* 50% del ancho total menos el espacio entre la imagen y el formulario */
  }