body {
    background-color: #E1CA96;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo img {
    width: 3.3rem;
    height: 3.3rem;
    margin-top: .5rem;
}

.header-logo h1 {
    font-family: "Island Moments", cursive;
    font-size: 4rem;
    font-weight: normal;
    color: #434A42;
    margin: 0;
}

.header-logo {
    margin-top: .5rem;
    display: flex;
    /* float: left; */
}

.header-links {
    /* float: right; */
    display: flex;
    gap: 2rem;
    margin: 1.7rem 6rem;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: normal;
    margin-top: .5rem;
}

.seleccionado {
    font-weight: bold;
}

.boton {
    border-radius: .4rem;
    border-style: none;
    background-color: #7E6363;
    color: white;
    padding: .7rem 1.2rem;
    text-decoration: none;
    font-size: small;
}

.boton:hover {
    background-color: #644f4f;
    cursor: pointer;
}

.banner {
    background-color: #ACA885;
    display: flex;
    justify-content: space-between;
}

.subtitulo h2 {
    font-size: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin: 2.5rem 0 1.5rem 5.5rem;
}

.form-buscar {
    margin: 4rem 5.5rem 0 0;
}

.input-buscar {
    border-style: none;
    height: 1.7rem;
    /* border-radius: .2rem; */
    width: 15rem;
}

.btn-buscar {
    background-color: white;
    height: 1.8rem;
    border-style: none;
    border-radius: 1rem;
    padding: 0 1.2rem;
    margin-left: .5rem;
}

.btn-buscar:hover {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.contenedor-centrado {
    display: flex;
    justify-content: center;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 10rem;
    margin: 3rem;
}

.producto {
    background-color: white;
    width: 17rem;
    /* height: 17rem; */
    border-radius: .5rem;
    padding: 1rem;
}

.cont-img {
    text-align: center;
}

.cont-img img {
    max-width: 8rem;
}

.cont-precio-boton {
    display: flex;
    justify-content: space-between;
}

.agregar-carrito {
    background-color: #626C66;
    color: white;
    height: 1.8rem;
    border-style: none;
    border-radius: 1rem;
    padding: 0 1.2rem;
    /* margin-left: .5rem; */
}

.agregar-carrito:hover {
    background-color: #644f4f;
    cursor: pointer;
}

.precio-producto {
    margin: .2rem 0 0 0;
    color: #426B1F;
}

.titulo-producto {
    padding: 1.2rem 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cerrar-sesion {
    display: none;
    text-decoration: none;
    color: white;
    font-weight: bold;

    border-radius: .4rem;
    border-style: none;
    background-color: rgb(185, 56, 56);
    padding: .7rem 1.2rem;
    font-size: small;
}

#cerrar-sesion:hover {
    background-color: rgb(212, 63, 63);
    cursor: pointer;
}

#elemento {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.hover-cerrar {
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    position: absolute;
    margin-left: 14rem;
}

.btn-carrito {
    max-height: 1rem;
}